.navbar {
  padding-top: 0px;
}
.nav-cls {
  z-index: 10;
  .logo-cap {
    font-size: 24px;
    color: #11661f;
    padding-left: 8px;
  }
}
.logo-cls {
  padding-left: 65px;
}
.logo {
  width: 200px;
  height: 200px;
  position: relative;
  z-index: 10;
}
#navbarSupportedContent {
  flex-direction: row-reverse;
}
.bg-container {
  top: -245px;
  position: relative;
  z-index: 0;
}
.bg {
  background: #f0f0f0 no-repeat center center;
  background-attachment: fixed;
  background-size: cover;
  display: table;
  height: calc(100vh - 245px);
  width: 100%;
  position: relative;
  z-index: 1;
  overflow-x: hidden;;
}
.caption {
  background: #79644778;
  right: 20%;
  left: 20%;
  padding-bottom: 30px;
  bottom: 20px;
  z-index: 10;
  padding-top: 20px;
  color: #fff;
  text-align: center;
  text-shadow: 0 1px 2px rgb(0 0 0 / 60%);
  position: absolute;
}
.hr {
  border-top: 2px solid #dee2e6;
  padding-bottom: 35px;
}
footer {
  width: 100%;
}
.footer {
  text-align: center;
  padding-bottom: 35px;
}
